* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1502082553048-f009c37129b9');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  
  .fog-layer {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: url('https://i.ibb.co/7z1HGWJ/fog.png') repeat-x;
    background-size: cover;
    animation: moveFog 60s linear infinite;
    opacity: 0.5;
    pointer-events: none; /* so it doesn't block clicks */
  }
  
  @keyframes moveFog {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }
  