*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* background-image: url(background.png); */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK69Ufs8AD-jC-GSye96Fvs4dv3ErtsSJRTA&s'); */
    background-image: url('https://images.unsplash.com/photo-1502082553048-f009c37129b9');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#fog{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100vh;
    background-image: url("https://i.ibb.co/smK6wJW/fog-grey.png");

    background-size: cover;
    background-position: bottom;
    z-index: 1;
    animation: foganim 10s linear infinite;
}
@keyframes foganim{
    0%{
        left: 0;

    }
    100%{
        left: -100%;
    }
}